# Node
node_modules/

# Sensitive info
.env

# Large binaries and setup files
*.exe
*.msi
*.log

# Environment and Data
.venv/
chroma_data/
__pycache__/
*.pyc

# Environment / installment files / tools
setup env rag-app/